

  <div class="weight-bold-text">
    宛名：<%= @message.to %>
  </div>

  <div class="weight-bold-text">
    送り主：<%= @message.from %>
  </div>
 
  <div class="weight-bold-text">
    日付：<%= @message.date %>
  </div>
 
  <div class="weight-bold-text">
    コメントの許可：<%= @message.permit_comment %>
  </div>
