<div>
  <br>
  メッセージに返信がありました！<br>
  --------------------------------<br>
  <br>
  宛名：<%= @message.to %> のメッセージ<br>
  <br>
  ↓以下本文↓<br>
  * * * * * * * * * * * * * * * *<br>
  <br>
  <div><%= @comment.text %></div>
  <br>
  * * * * * * * * * * * * * * * *<br>
  --------------------------------<br>
  <br>
</div>