<h2>リンクに設定するメッセージを選んでください</h2>

<ul>
  <% @messages.each do |ms| %>
    <li>
      <%= link_to ms.to, message_links_path(@message,
          parent_message_id: ms.id),
          data: { turbo_method: :post } %>
    </li>
  <% end %>
</ul>
